* {
    box-sizing:border-box;
    padding: 0;
    margin: 0;
}

.contenedor{
    background-color: blue;
    background-size:cover;
    background-repeat: no-repeat; 
    background-attachment: fixed;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.button {
    padding: 20px 40px; 
    font-size: 20px;
    background-color: palevioletred;

}
.button2 {
    padding: 20px 40px; 
    font-size: 20px;
    background-color: aqua;

}
.button3 {
    padding: 20px 40px; 
    font-size: 20px;
    background-color: red;

}

.red-text {
    color:chocolate;
    font-size: 3rem;
  }

  .blue-text {
    color:chartreuse;
    font-size: 3rem;
  }
  a{
    font-style: none;
  }